{{ define "run_row" }}
<tr>
  <td class="px-6 py-4 text-sm text-gray-800 font-bold">
    <a href="/run/{{ .ID }}" class="hover:underline"> {{ .ID }} </a>
  </td>
  <td class="px-6 py-4 text-sm text-gray-800">{{ .Status }}</td>
  <td class="px-6 py-4 text-sm text-gray-800">{{ .CreatedAt }}</td>
  <td class="px-6 py-4 text-sm text-gray-800">{{ .UpdatedAt }}</td>
  <td class="px-6 py-4 text-right">
    <button
      type="button"
      class="text-blue-600 hover:text-blue-800 font-semibold text-sm"
    >
      Re-run
    </button>
  </td>
</tr>
{{ end }}
